<?xml version="1.0"?>
<launch>
    <node pkg="mini_ccv" type="mini_ccv_node" name="mini_ccv" output="screen" />


    <include file="$(find ccv_dynamixel_controller)/launch/ccv_dynamixel_controller.launch"/>
    <include file="$(find ccv_dynamixel_controller)/launch/test_by_two_motors.launch"/>


    <include file="$(find ccv_sim)/launch/ccv_sim_sub.launch">
        <node name="joy" pkg="joy" type="joy_node">
            <param name="dev" value="/dev/input/js0"/>
        </node>
        <node name="ccv_sim" pkg="ccv_sim" type="ccv_sim_node" output="screen">
            <remap from="/cmd_vel" to="/dynamixel_workbench/cmd_vel"/>
        <!-- <remap from="/roll_pitch" to ="/sq2_ccv/roll_pitch_controller/roll_pitch"/>  -->
        </node>
    </include>

</launch>